In [39]:

import pandas as pd
import json
from pkg_resources import resource_filename
import numpy as np

In [40]:
tounament=pd.read_csv('/Users/sebas/IDrive-Sync/MetaLocalLLC/RL-Bots/Tournament-gym/Data/WNCAATourneyCompactResults.csv')
seed=pd.read_csv('/Users/sebas/IDrive-Sync/MetaLocalLLC/RL-Bots/Tournament-gym/Data/WNCAATourneySeeds.csv')
rounds=pd.read_csv('/Users/sebas/IDrive-Sync/MetaLocalLLC/RL-Bots/Tournament-gym/Data/MNCAATourneySeedRoundSlots.csv')
slots=pd.read_csv('/Users/sebas/IDrive-Sync/MetaLocalLLC/RL-Bots/Tournament-gym/Data/WNCAATourneySlots.csv')
teams=pd.read_csv('/Users/sebas/IDrive-Sync/MetaLocalLLC/RL-Bots/Tournament-gym/Data/WTeams.csv')
regions=pd.read_csv('/Users/sebas/IDrive-Sync/MetaLocalLLC/RL-Bots/Tournament-gym/Data/WSeasons.csv')
teams=teams[['TeamID','TeamName']]

In [41]:
tounament

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0       1998     137     3104      94     3422      46    H      0
1       1998     137     3112      75     3365      63    H      0
2       1998     137     3163      93     3193      52    H      0
3       1998     137     3198      59     3266      45    H      0
4       1998     137     3203      74     3208      72    A      0
...      ...     ...      ...     ...      ...     ...  ...    ...
1578    2023     147     3376      86     3268      75    H      0
1579    2023     147     3439      84     3326      74    N      0
1580    2023     151     3234      77     3376      73    N      0
1581    2023     151     3261      79     3439      72    N      0
1582    2023     153     3261     102     3234      85    N      0

[1583 rows x 8 columns]

In [42]:
r1=rounds.rename(columns={'EarlyDayNum':'Daynum'})
r2=rounds.rename(columns={'LateDayNum':'Daynum'})
double_rounds=pd.concat([r1,r2],axis=0)
double_rounds

     Seed  GameRound GameSlot  Daynum  LateDayNum  EarlyDayNum
0     W01          1     R1W1     136       137.0          NaN
1     W01          2     R2W1     138       139.0          NaN
2     W01          3     R3W1     143       144.0          NaN
3     W01          4     R4W1     145       146.0          NaN
4     W01          5     R5WX     152       152.0          NaN
..    ...        ...      ...     ...         ...          ...
715  Z16b          2     R2Z1     139         NaN        138.0
716  Z16b          3     R3Z1     144         NaN        143.0
717  Z16b          4     R4Z1     146         NaN        145.0
718  Z16b          5     R5YZ     152         NaN        152.0
719  Z16b          6     R6CH     154         NaN        154.0

[1440 rows x 6 columns]

In [43]:
display(seed),display(rounds),display(tounament),display(teams)

      Season Seed  TeamID
0       1998  W01    3330
1       1998  W02    3163
2       1998  W03    3112
3       1998  W04    3301
4       1998  W05    3272
...      ...  ...     ...
1603    2023  Z12    3405
1604    2023  Z13    3387
1605    2023  Z14    3241
1606    2023  Z15    3436
1607    2023  Z16    3151

[1608 rows x 3 columns]

     Seed  GameRound GameSlot  EarlyDayNum  LateDayNum
0     W01          1     R1W1          136         137
1     W01          2     R2W1          138         139
2     W01          3     R3W1          143         144
3     W01          4     R4W1          145         146
4     W01          5     R5WX          152         152
..    ...        ...      ...          ...         ...
715  Z16b          2     R2Z1          138         139
716  Z16b          3     R3Z1          143         144
717  Z16b          4     R4Z1          145         146
718  Z16b          5     R5YZ          152         152
719  Z16b          6     R6CH          154         154

[720 rows x 5 columns]

      Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0       1998     137     3104      94     3422      46    H      0
1       1998     137     3112      75     3365      63    H      0
2       1998     137     3163      93     3193      52    H      0
3       1998     137     3198      59     3266      45    H      0
4       1998     137     3203      74     3208      72    A      0
...      ...     ...      ...     ...      ...     ...  ...    ...
1578    2023     147     3376      86     3268      75    H      0
1579    2023     147     3439      84     3326      74    N      0
1580    2023     151     3234      77     3376      73    N      0
1581    2023     151     3261      79     3439      72    N      0
1582    2023     153     3261     102     3234      85    N      0

[1583 rows x 8 columns]

     TeamID          TeamName
0      3101       Abilene Chr
1      3102         Air Force
2      3103             Akron
3      3104           Alabama
4      3105       Alabama A&M
..      ...               ...
371    3474         Queens NC
372    3475  Southern Indiana
373    3476         Stonehill
374    3477   TX A&M Commerce
375    3478          Le Moyne

[376 rows x 2 columns]

(None, None, None, None)

In [44]:
#change the day num to round
round_map={134:0,
          135:0,

          136:1,
          137:1,
        #   140:1,

          138:2,
          139:2,

          143:3,
          144:3,

          145:4,
          146:4,          
        #   147:4,
        #   148:4,            

          152:5,
          
          154:6}

In [45]:
#Standardize the Regions
region_map={'South':'South',
 'MidWest':'Midwest',
 'East':'East',
 'West':'West',
 
 'Southeast':'South',
 'Southwest':'Midwest',

 'Albuquerque':'West',
 'Chicago':'Midwest',
 'Austin':'South',
 'Syracuse':'East',

 'NA1':'East',
 'NA2':'Midwest',
 'NA4':'West',
 'NA3':'South',

 'Oakland':'West',
 'Atlanta':'South',
 'WashingtonDC':'East',
 'Minneapolis':'Midwest',
 'EastRutherford':'East',

 'StLouis':'Midwest',
 'Atlanta':'South',
 'Phoenix':'West',
}

In [46]:
region_to_num={'W':1,
               'X':2,
               'Y':3,
               'Z':4}

In [47]:
regions.filter(like='Region').columns
all_regions=[]

regions.columns=[c.replace('Region','') for c in regions.columns]
seed_region_map=regions.set_index('Season')[['W','X','Y','Z']].T.to_dict()
for season in seed_region_map:
    seed_region_map[season]={i:a for a,i in seed_region_map[season].items()}

In [48]:
seeds=pd.merge(seed,teams,left_on='TeamID',right_on='TeamID',how='left')

seeds['Region']=seeds['Seed'].str[0]

In [49]:
region_to_region={'W':'East',
               'X':'Midwest',
               'Y':'South',
               'Z':'West'}

In [50]:
seasons=seeds.Season.unique()
for season in seasons:
    seeds.loc[seeds.Season==season,'Region_']=seeds.loc[seeds.Season==season,'Region'].replace(seed_region_map[season])
seeds['RegionNum']=seeds['Region'].replace(region_to_num)


seed_df=seeds
seed_df

      Season Seed  TeamID       TeamName Region Region_  RegionNum
0       1998  W01    3330   Old Dominion      W       W          1
1       1998  W02    3163    Connecticut      W       W          1
2       1998  W03    3112        Arizona      W       W          1
3       1998  W04    3301       NC State      W       W          1
4       1998  W05    3272        Memphis      W       W          1
...      ...  ...     ...            ...    ...     ...        ...
1603    2023  Z12    3405         Toledo      Z       Z          4
1604    2023  Z13    3387       St Louis      Z       Z          4
1605    2023  Z14    3241  James Madison      Z       Z          4
1606    2023  Z15    3436        Vermont      Z       Z          4
1607    2023  Z16    3151    Chattanooga      Z       Z          4

[1608 rows x 7 columns]

In [51]:
kaggle_names=sorted(teams['TeamName'].to_list())

In [52]:
tournament_df=pd.merge(tounament,teams,left_on=['WTeamID'],right_on=['TeamID'],how='left')
tournament_df=tournament_df.rename(columns={'TeamName':'WTeam'})
tournament_df=tournament_df.drop('TeamID',axis=1)
########
tournament_df=pd.merge(tournament_df,teams,left_on=['LTeamID'],right_on=['TeamID'],how='left')
tournament_df=tournament_df.rename(columns={'TeamName':'LTeam'})
tournament_df['Round']=tournament_df['DayNum'].replace(round_map)
########
tournament_df=tournament_df.drop(['TeamID'],axis=1)
tournament_df.columns=[C.title() for C in tournament_df.columns]

In [53]:
#change the day num to round
round_map_2021={
140:3}
tournament_df.loc[tournament_df.Season==2021,'Round']=tournament_df.loc[tournament_df.Season==2021,'Daynum'].replace(round_map_2021)

In [54]:
## merge Seeds with the teams
tourn_region=pd.merge(tournament_df,seeds[['TeamName','Seed','Season','Region','RegionNum']],
left_on=['Season','Wteam'],
right_on=['Season','TeamName'],
how='left'
)
tourn_region=tourn_region.drop(['TeamName','Wloc','Numot'],axis=1)
tourn_region=tourn_region.rename(columns={'Seed':'Wseed'})


tourn_region=pd.merge(tourn_region,seeds[['Season','TeamName','Seed']],
left_on=['Season','Lteam'],
right_on=['Season','TeamName'],
how='left'
)

tourn_region=tourn_region.rename(columns={'Seed':'Lseed'})
tourn_region=tourn_region.drop('TeamName',axis=1)

In [55]:
r=1
print(tourn_region[(tourn_region.Season==2021)].shape[0])

tourn2021=tourn_region[(tourn_region.Season==2021)]
add_game=tourn2021.loc[[tourn2021.index[0]]].copy()

add_game.Season=2021
add_game.Daynum=138
add_game.Wteam='Oregon'
add_game.Wseed='X07'
add_game.Wscore=1

add_game.Lteam='VCU'
add_game.Lseed='X10'
add_game.Lscore=0

add_game.Region='X'
add_game.RegionNum=2
add_game.Round=1

tourn_region=pd.concat([tourn_region,add_game],axis=0,ignore_index=True)
tourn_region,add_game

63

(      Season  Daynum  Wteamid  Wscore  Lteamid  Lscore          Wteam  \
 0       1998     137     3104      94     3422      46        Alabama
 1       1998     137     3112      75     3365      63        Arizona
 2       1998     137     3163      93     3193      52    Connecticut
 3       1998     137     3198      59     3266      45   Florida Intl
 4       1998     137     3203      74     3208      72   G Washington
 ...      ...     ...      ...     ...      ...     ...            ...
 1579    2023     147     3439      84     3326      74  Virginia Tech
 1580    2023     151     3234      77     3376      73           Iowa
 1581    2023     151     3261      79     3439      72            LSU
 1582    2023     153     3261     102     3234      85            LSU
 1583    2021     138     3124       1     3238       0         Oregon

                Lteam  Round Wseed Region  RegionNum Lseed
 0     UNC Greensboro      1   X02      X          2   X15
 1        Santa Clara      1   W03      W          1   W14
 2          Fairfield      1   W02      W          1   W15
 3          Marquette      1   Y07      Y          3   Y10
 4            Georgia      1   W10      W          1   W07
 ...              ...    ...   ...    ...        ...   ...
 1579         Ohio St    147   Z01      Z          4   Z03
 1580  South Carolina    151   X02      X          2   W01
 1581   Virginia Tech    151   Y03      Y          3   Z01
 1582            Iowa    153   Y03      Y          3   X02
 1583             VCU      1   X07      X          2   X10

 [1584 rows x 13 columns],
       Season  Daynum  Wteamid  Wscore  Lteamid  Lscore   Wteam Lteam  Round  \
 1386    2021     138     3124       1     3238       0  Oregon   VCU      1

      Wseed Region  RegionNum Lseed
 1386   X07      X          2   X10  )

In [56]:
## there was a no contest in 2022 so we have to add vcu and Oregon into the teams
tourn2021=tourn_region[(tourn_region.Season==2021)]
tourn2021=tourn_region[(tourn_region.Season==2021)]
for i in tourn2021.Round.unique():
    print(i)
    display(tourn2021[tourn2021.Round==i].shape)

139

(16, 13)

3

(16, 13)

141

(8, 13)

142

(8, 13)

145

(4, 13)

146

(4, 13)

147

(2, 13)

148

(2, 13)

151

(2, 13)

153

(1, 13)

1

(1, 13)

In [57]:

tourn_region['RegionNum']=tourn_region['RegionNum'].astype(int)

tourn_region['Wseed'].str.replace("[a-zA-Z]","",regex=True).astype(int)

0        2
1        3
2        2
3        7
4       10
        ..
1579     1
1580     2
1581     3
1582     3
1583     7
Name: Wseed, Length: 1584, dtype: int32

In [58]:

tourn_region['RegionNum']=tourn_region['RegionNum'].astype(int)
Wseed=(tourn_region['Wseed'].str.replace("[a-zA-Z]","",regex=True)).astype(int)
Lseed=(tourn_region['Lseed'].str.replace("[a-zA-Z]","",regex=True)).astype(int)
real_seeds=tourn_region[['Wseed','Lseed']].values
choose_seeds=np.concatenate([Wseed.values.reshape(-1,1),Lseed.values.reshape(-1,1)],axis=1)

In [59]:
teams=tourn_region[['Wteam','Lteam']].values


for i in range(len(choose_seeds)):
    g=choose_seeds[i,:]
    if g[0]==g[1]:
        choose_seeds[i,0]+=1
        
high_arg=np.argmax(choose_seeds,1).reshape(-1,1)
low_arg=np.argmin(choose_seeds,1).reshape(-1,1)
tourn_region['high_team']=''
tourn_region['high_seed']=np.nan
tourn_region['low_team']=''

tourn_region['low_seed']=np.nan

tourn_region.loc[tourn_region.index,'high_team']=np.take_along_axis(teams,high_arg,1)
tourn_region.loc[tourn_region.index,'high_seed']=np.take_along_axis(real_seeds,high_arg,1)
tourn_region.loc[tourn_region.index,'low_team']=np.take_along_axis(teams,low_arg,1)
tourn_region.loc[tourn_region.index,'low_seed']=np.take_along_axis(real_seeds,low_arg,1)
tourn_region=tourn_region.rename(columns={'Season':'Year'})
tourn_region['Region']=tourn_region['Region'].replace(region_to_region)

In [60]:
tourn_region

,Year,Daynum,Wteamid,Wscore,Lteamid,Lscore,Wteam,Lteam,Round,Wseed,Region,RegionNum,Lseed,high_team,high_seed,low_team,low_seed
0,1998,137,3104,94,3422,46,Alabama,UNC Greensboro,1,X02,Midwest,2,X15,UNC Greensboro,X15,Alabama,X02
1,1998,137,3112,75,3365,63,Arizona,Santa Clara,1,W03,East,1,W14,Santa Clara,W14,Arizona,W03
2,1998,137,3163,93,3193,52,Connecticut,Fairfield,1,W02,East,1,W15,Fairfield,W15,Connecticut,W02
3,1998,137,3198,59,3266,45,Florida Intl,Marquette,1,Y07,South,3,Y10,Marquette,Y10,Florida Intl,Y07
4,1998,137,3203,74,3208,72,G Washington,Georgia,1,W10,East,1,W07,G Washington,W10,Georgia,W07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579,2023,147,3439,84,3326,74,Virginia Tech,Ohio St,147,Z01,West,4,Z03,Ohio St,Z03,Virginia Tech,Z01
1580,2023,151,3234,77,3376,73,Iowa,South Carolina,151,X02,Midwest,2,W01,Iowa,X02,South Carolina,W01
1581,2023,151,3261,79,3439,72,LSU,Virginia Tech,151,Y03,South,3,Z01,LSU,Y03,Virginia Tech,Z01
1582,2023,153,3261,102,3234,85,LSU,Iowa,153,Y03,South,3,X02,LSU,Y03,Iowa,X02
1583,2021,138,3124,1,3238,0,Oregon,VCU,1,X07,Midwest,2,X10,VCU,X10,Oregon,X07

In [61]:
base_columns = ['Year','Round','Daynum','Region','RegionNum']
team0_columns = ['high_team','high_seed']
team1_columns = ['low_team','low_seed']
rename_columns=['Team','Seed']

In [62]:
high_seed_df = tourn_region[base_columns + team0_columns].rename(columns=dict(zip(team0_columns,rename_columns))).copy()
low_seed_df  = tourn_region[base_columns + team1_columns].rename(columns=dict(zip(team1_columns,rename_columns))).copy()

high_seed_df['Team_Position'] = 'high'
low_seed_df['Team_Position'] = 'low'
raw_long_df = pd.concat([high_seed_df, low_seed_df],axis=0)
raw_long_df ['Mapped_Round']=raw_long_df ['Round']
raw_long_df=raw_long_df.drop('Round',axis=1)
display(double_rounds)
raw_long_df

     Seed  GameRound GameSlot  Daynum  LateDayNum  EarlyDayNum
0     W01          1     R1W1     136       137.0          NaN
1     W01          2     R2W1     138       139.0          NaN
2     W01          3     R3W1     143       144.0          NaN
3     W01          4     R4W1     145       146.0          NaN
4     W01          5     R5WX     152       152.0          NaN
..    ...        ...      ...     ...         ...          ...
715  Z16b          2     R2Z1     139         NaN        138.0
716  Z16b          3     R3Z1     144         NaN        143.0
717  Z16b          4     R4Z1     146         NaN        145.0
718  Z16b          5     R5YZ     152         NaN        152.0
719  Z16b          6     R6CH     154         NaN        154.0

[1440 rows x 6 columns]

,Year,Daynum,Region,RegionNum,Team,Seed,Team_Position,Mapped_Round
0,1998,137,Midwest,2,UNC Greensboro,X15,high,1
1,1998,137,East,1,Santa Clara,W14,high,1
2,1998,137,East,1,Fairfield,W15,high,1
3,1998,137,South,3,Marquette,Y10,high,1
4,1998,137,East,1,G Washington,W10,high,1
...,...,...,...,...,...,...,...,...
1579,2023,147,West,4,Virginia Tech,Z01,low,147
1580,2023,151,Midwest,2,South Carolina,W01,low,151
1581,2023,151,South,3,Virginia Tech,Z01,low,151
1582,2023,153,South,3,Iowa,X02,low,153
1583,2021,138,Midwest,2,Oregon,X07,low,1

In [63]:
tourn_with_rounds=pd.merge(raw_long_df,double_rounds,left_on=['Daynum','Seed'],right_on=['Daynum','Seed'])
tourn_with_rounds.Seed.isna().sum()

0

In [64]:
new_year=seed_df[seed_df.Season==2023]
new_year=new_year.rename(columns={'TeamName':'Team','Season':'Year'})
new_year['Seed']=new_year['Seed']#.str.replace("[a-zA-Z]","",regex=True).astype(int)
new_year['GameRound']=1

In [65]:
long_tourn =tourn_with_rounds.reset_index().copy()
y2021idx=long_tourn[(long_tourn.Year==2019)].index
# long_tourn .loc[y2021idx,'GameRound']=long_tourn .loc[y2021idx,'Mapped_Round']

y2022=long_tourn .loc[y2021idx,['Daynum','GameRound']]
y2022.value_counts().sort_index(),y2022.shape,y2022.value_counts().sum()
# long_tourn.loc[y2021idx]

(Daynum  GameRound
 137     1            32
 138     2            32
 139     2            16
 144     3             8
 145     4             8
 146     4             4
 Name: count, dtype: int64,
 (100, 2),
 100)

In [66]:


long_tourn =tourn_with_rounds.reset_index().copy()
y2021idx=long_tourn[(long_tourn.Year==2022)].index
# long_tourn .loc[y2021idx,'GameRound']=long_tourn .loc[y2021idx,'Mapped_Round']

y2022=long_tourn .loc[y2021idx,['Daynum','GameRound']]
y2022.value_counts().sort_index(),y2022.shape,y2022.value_counts().sum()
# long_tourn.loc[y2021idx]

(Daynum  GameRound
 135     0             4
 136     1             4
 137     1            32
 138     2            32
 139     2            16
 144     3             8
 145     4             8
 146     4             4
 Name: count, dtype: int64,
 (108, 2),
 108)

In [67]:

long_tourn =tourn_with_rounds.reset_index().copy()
y2021idx=long_tourn[(long_tourn.Year==2021)].index
# long_tourn .loc[y2021idx,'GameRound']=long_tourn .loc[y2021idx,'Mapped_Round']

y2021=long_tourn .loc[y2021idx,['Daynum','GameRound']]
y2021.value_counts().sort_index(),y2021.shape,y2021.value_counts().sum()

(Daynum  GameRound
 138     2             2
 139     2            32
 145     4             8
 146     4             8
 Name: count, dtype: int64,
 (50, 2),
 50)

In [68]:
#change the day num to round
round_map_2021={
         ## first 4
          136:0,## first 4

          ## first round
          137:1,
          138:1,

          # # second round

          139:2,
          
          # # sweet 16
          145:3,
          146:3,

          # # elite 8        
          147:4,
          148:4,            
          # # final 4  
          152:5,
          # # chamionship 
          154:6}

In [69]:
last_year=long_tourn[long_tourn.Year==2022].copy()
last_year

last_year.loc[last_year.index,'Team']=['TBD' for c in range(len(last_year))]
last_year.loc[last_year.index,'Seed']=['64' for c in range(len(last_year))]
last_year.loc[last_year.index,'Year']=[2023 for c in range(len(last_year))]


last_year=last_year[last_year.GameRound>1]
last_year
long_tourn=pd.concat([long_tourn,new_year,last_year],axis=0,ignore_index=True)
long_tourn=long_tourn.rename(columns={'GameRound':'Round'})

long_tourn['Seed']=(long_tourn['Seed'].str.replace("[a-zA-Z]","",regex=True)).astype(int)
tourn_region['Seed']=(tourn_region['Wseed'].str.replace("[a-zA-Z]","",regex=True)).astype(int)
long_tourn=long_tourn.drop(
  ['LateDayNum','EarlyDayNum','TeamID','Region_'],axis=1
).sort_values(['Year','Round','Seed'])
long_tourn

,index,Year,Daynum,Region,RegionNum,Team,Seed,Team_Position,Mapped_Round,Round,GameSlot
1318,1318.0,1998,137.0,East,1,Old Dominion,1,low,1.0,1,R1W1
1323,1323.0,1998,137.0,Midwest,2,Texas Tech,1,low,1.0,1,R1X1
1255,1255.0,1998,137.0,Midwest,2,Alabama,2,low,1.0,1,R1X2
1268,1268.0,1998,137.0,East,1,Connecticut,2,low,1.0,1,R1W2
1306,1306.0,1998,137.0,South,3,North Carolina,2,low,1.0,1,R1Y2
...,...,...,...,...,...,...,...,...,...,...,...
2319,1658.0,2023,145.0,East,1,TBD,64,low,4.0,4,R4W1
2320,1701.0,2023,145.0,East,1,TBD,64,low,4.0,4,R4W1
2333,2019.0,2023,145.0,West,4,TBD,64,low,4.0,4,R4Z1
2337,2153.0,2023,146.0,Midwest,2,TBD,64,low,4.0,4,R4X1
2338,2165.0,2023,146.0,South,3,TBD,64,low,4.0,4,R4Y1

In [70]:
final_four_games = \
long_tourn[long_tourn['Round'] == 4] \
    .assign(game_num = lambda x: (x['RegionNum'] <= 2)+1) \
    .groupby(['Year','game_num']) \
    .agg({'Region' : lambda x: dict(zip(['team1','team2'],x))}) \
    .groupby('Year') \
    .agg({'Region' : lambda x: dict(zip(['game1','game2'],x))}) \
    .to_dict().get('Region')

In [71]:
years = long_tourn.Year.unique().tolist()

brackets_dict = {}
for year in years:

    that_year_df = long_tourn[long_tourn['Year'] == year].copy()
    that_year_win = tourn_region[tourn_region['Year'] == year].copy()
    
    round0= that_year_df[that_year_df['Round'] == 0].sort_values('Seed')

    round1 = that_year_df[that_year_df['Round'] == 1].sort_values('Seed')
    round2 = that_year_df[that_year_df['Round'] == 2]
    round3 = that_year_df[that_year_df['Round'] == 3]
    round4 = that_year_df[that_year_df['Round'] == 4]
    round5 = that_year_df[that_year_df['Round'] == 5]
    round6 = that_year_df[that_year_df['Round'] == 6]

    print(that_year_df['Round'].unique())
    round6_win = that_year_win[that_year_win['Round'] == 6]
    round6_win=round6_win.rename(columns={'Wteam':'Team','Wseed':'Seed'})

    try:
        winner = round6_win[['Team','Seed']].reset_index(drop=True).T.to_dict()[0]

    except:
        
        
        winner={'Team': 'TBD', 'Seed': 0}
    # print(winner)
    
    east1 = round1[round1['Region'] == 'W']
    west1 = round1[round1['Region'] == 'X']
    midwest1 = round1[round1['Region'] == 'Y']
    south1 = round1[round1['Region'] == 'Z']

    regs={
            'W':east1,
            'X':west1,
            'Y':midwest1,
            'Z':south1,
                }

    print(year,len(round1))
    if i !=2021:
        for r in regs:
            if len(regs[r])!=16:
                print(round1['Region'].unique())
                display(r,regs[r])
                regs[r]=regs[r].drop_duplicates('Seed',keep='first').reset_index(drop=True)
                display(r,regs[r])



    results = {
        # 'playin' : round0[['Team','Seed']].to_dict('records'),
        'first' : round1[['Team','Seed']].to_dict('records'),
        'second' : round2[['Team','Seed']].to_dict('records'),
        'sweet16' : round3[['Team','Seed']].to_dict('records'),
        'elite8' : round4[['Team','Seed']].to_dict('records'),
        'final4' : round5[['Team','Seed']].to_dict('records'),
        'championship' : round6[['Team','Seed']].to_dict('records'),
        'winner' : {'Team' : winner['Team'], 'Seed' : int(winner['Seed'])}
    }
    regions = {
        'W' : regs['W'][['Team','Seed']].to_dict('records'),
        'X' : regs['X'][['Team','Seed']].to_dict('records'),
        'Y' : regs['Y'][['Team','Seed']].to_dict('records'),
        'Z' : regs['Z'][['Team','Seed']].to_dict('records')
    }
    brackets_dict[year] = {'Region' : regions, 'Results': results, 'Finals': final_four_games[year]}

[1 2 4]
1998 32
['East' 'Midwest' 'South' 'West']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'Midwest' 'South' 'West']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'Midwest' 'South' 'West']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'Midwest' 'South' 'West']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[1 2 4]
1999 32
['Midwest' 'West' 'East' 'South']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'East' 'South']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'East' 'South']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'East' 'South']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[1 2 4]
2000 32
['East' 'Midwest' 'South' 'West']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'Midwest' 'South' 'West']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'Midwest' 'South' 'West']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'Midwest' 'South' 'West']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[1 2 4]
2001 32
['South' 'Midwest' 'East' 'West']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['South' 'Midwest' 'East' 'West']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['South' 'Midwest' 'East' 'West']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['South' 'Midwest' 'East' 'West']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[1 2 4]
2002 32
['East' 'West' 'South' 'Midwest']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'West' 'South' 'Midwest']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'West' 'South' 'Midwest']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'West' 'South' 'Midwest']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2003 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2004 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2005 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2006 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2007 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2008 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2009 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2010 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2011 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2012 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2013 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2014 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[1 2 3 4]
2015 32
['West' 'South' 'East' 'Midwest']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['West' 'South' 'East' 'Midwest']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['West' 'South' 'East' 'Midwest']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['West' 'South' 'East' 'Midwest']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[1 2 3 4]
2016 32
['Midwest' 'West' 'East']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'East']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'East']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'East']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[1 2 3 4]
2017 32
['West' 'South' 'Midwest' 'East']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['West' 'South' 'Midwest' 'East']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['West' 'South' 'Midwest' 'East']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['West' 'South' 'Midwest' 'East']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[1 2 3 4]
2018 32
['Midwest' 'West' 'East' 'South']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'East' 'South']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'East' 'South']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'East' 'South']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[1 2 3 4]
2019 32
['East' 'West' 'South' 'Midwest']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'West' 'South' 'Midwest']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'West' 'South' 'Midwest']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['East' 'West' 'South' 'Midwest']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[2 4]
2021 0
[]

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[]

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[0 1 2 3 4]
2022 36
['Midwest' 'West' 'South' 'East']

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'W'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'South' 'East']

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'X'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'South' 'East']

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Y'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

['Midwest' 'West' 'South' 'East']

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

'Z'

Empty DataFrame
Columns: [index, Year, Daynum, Region, RegionNum, Team, Seed, Team_Position, Mapped_Round, Round, GameSlot]
Index: []

[0 1 2 3 4]
2023 104
['East' 'Midwest' 'West' 'W' 'X' 'Y' 'Z' 'South']

'W'

,index,Year,Daynum,Region,RegionNum,Team,Seed,Team_Position,Mapped_Round,Round,GameSlot
2206,NaN,2023,NaN,W,1,South Carolina,1,NaN,NaN,1,NaN
2207,NaN,2023,NaN,W,1,Maryland,2,NaN,NaN,1,NaN
2208,NaN,2023,NaN,W,1,Notre Dame,3,NaN,NaN,1,NaN
2209,NaN,2023,NaN,W,1,UCLA,4,NaN,NaN,1,NaN
2210,NaN,2023,NaN,W,1,Oklahoma,5,NaN,NaN,1,NaN
2211,NaN,2023,NaN,W,1,Creighton,6,NaN,NaN,1,NaN
2212,NaN,2023,NaN,W,1,Arizona,7,NaN,NaN,1,NaN
2213,NaN,2023,NaN,W,1,South Florida,8,NaN,NaN,1,NaN
2214,NaN,2023,NaN,W,1,Marquette,9,NaN,NaN,1,NaN
2215,NaN,2023,NaN,W,1,West Virginia,10,NaN,NaN,1,NaN
2217,NaN,2023,NaN,W,1,Mississippi St,11,NaN,NaN,1,NaN
2216,NaN,2023,NaN,W,1,Illinois,11,NaN,NaN,1,NaN
2218,NaN,2023,NaN,W,1,Portland,12,NaN,NaN,1,NaN
2219,NaN,2023,NaN,W,1,CS Sacramento,13,NaN,NaN,1,NaN
2220,NaN,2023,NaN,W,1,Southern Utah,14,NaN,NaN,1,NaN
2221,NaN,2023,NaN,W,1,Holy Cross,15,NaN,NaN,1,NaN
2222,NaN,2023,NaN,W,1,Norfolk St,16,NaN,NaN,1,NaN

'W'

,index,Year,Daynum,Region,RegionNum,Team,Seed,Team_Position,Mapped_Round,Round,GameSlot
0,NaN,2023,NaN,W,1,South Carolina,1,NaN,NaN,1,NaN
1,NaN,2023,NaN,W,1,Maryland,2,NaN,NaN,1,NaN
2,NaN,2023,NaN,W,1,Notre Dame,3,NaN,NaN,1,NaN
3,NaN,2023,NaN,W,1,UCLA,4,NaN,NaN,1,NaN
4,NaN,2023,NaN,W,1,Oklahoma,5,NaN,NaN,1,NaN
5,NaN,2023,NaN,W,1,Creighton,6,NaN,NaN,1,NaN
6,NaN,2023,NaN,W,1,Arizona,7,NaN,NaN,1,NaN
7,NaN,2023,NaN,W,1,South Florida,8,NaN,NaN,1,NaN
8,NaN,2023,NaN,W,1,Marquette,9,NaN,NaN,1,NaN
9,NaN,2023,NaN,W,1,West Virginia,10,NaN,NaN,1,NaN
10,NaN,2023,NaN,W,1,Mississippi St,11,NaN,NaN,1,NaN
11,NaN,2023,NaN,W,1,Portland,12,NaN,NaN,1,NaN
12,NaN,2023,NaN,W,1,CS Sacramento,13,NaN,NaN,1,NaN
13,NaN,2023,NaN,W,1,Southern Utah,14,NaN,NaN,1,NaN
14,NaN,2023,NaN,W,1,Holy Cross,15,NaN,NaN,1,NaN
15,NaN,2023,NaN,W,1,Norfolk St,16,NaN,NaN,1,NaN

['East' 'Midwest' 'West' 'W' 'X' 'Y' 'Z' 'South']

'X'

,index,Year,Daynum,Region,RegionNum,Team,Seed,Team_Position,Mapped_Round,Round,GameSlot
2223,NaN,2023,NaN,X,2,Stanford,1,NaN,NaN,1,NaN
2224,NaN,2023,NaN,X,2,Iowa,2,NaN,NaN,1,NaN
2225,NaN,2023,NaN,X,2,Duke,3,NaN,NaN,1,NaN
2226,NaN,2023,NaN,X,2,Texas,4,NaN,NaN,1,NaN
2227,NaN,2023,NaN,X,2,Louisville,5,NaN,NaN,1,NaN
2228,NaN,2023,NaN,X,2,Colorado,6,NaN,NaN,1,NaN
2229,NaN,2023,NaN,X,2,Florida St,7,NaN,NaN,1,NaN
2230,NaN,2023,NaN,X,2,Mississippi,8,NaN,NaN,1,NaN
2231,NaN,2023,NaN,X,2,Gonzaga,9,NaN,NaN,1,NaN
2232,NaN,2023,NaN,X,2,Georgia,10,NaN,NaN,1,NaN
2233,NaN,2023,NaN,X,2,MTSU,11,NaN,NaN,1,NaN
2234,NaN,2023,NaN,X,2,Drake,12,NaN,NaN,1,NaN
2235,NaN,2023,NaN,X,2,East Carolina,13,NaN,NaN,1,NaN
2236,NaN,2023,NaN,X,2,Iona,14,NaN,NaN,1,NaN
2237,NaN,2023,NaN,X,2,SE Louisiana,15,NaN,NaN,1,NaN
2238,NaN,2023,NaN,X,2,Sacred Heart,16,NaN,NaN,1,NaN
2239,NaN,2023,NaN,X,2,Southern Univ,16,NaN,NaN,1,NaN

'X'

,index,Year,Daynum,Region,RegionNum,Team,Seed,Team_Position,Mapped_Round,Round,GameSlot
0,NaN,2023,NaN,X,2,Stanford,1,NaN,NaN,1,NaN
1,NaN,2023,NaN,X,2,Iowa,2,NaN,NaN,1,NaN
2,NaN,2023,NaN,X,2,Duke,3,NaN,NaN,1,NaN
3,NaN,2023,NaN,X,2,Texas,4,NaN,NaN,1,NaN
4,NaN,2023,NaN,X,2,Louisville,5,NaN,NaN,1,NaN
5,NaN,2023,NaN,X,2,Colorado,6,NaN,NaN,1,NaN
6,NaN,2023,NaN,X,2,Florida St,7,NaN,NaN,1,NaN
7,NaN,2023,NaN,X,2,Mississippi,8,NaN,NaN,1,NaN
8,NaN,2023,NaN,X,2,Gonzaga,9,NaN,NaN,1,NaN
9,NaN,2023,NaN,X,2,Georgia,10,NaN,NaN,1,NaN
10,NaN,2023,NaN,X,2,MTSU,11,NaN,NaN,1,NaN
11,NaN,2023,NaN,X,2,Drake,12,NaN,NaN,1,NaN
12,NaN,2023,NaN,X,2,East Carolina,13,NaN,NaN,1,NaN
13,NaN,2023,NaN,X,2,Iona,14,NaN,NaN,1,NaN
14,NaN,2023,NaN,X,2,SE Louisiana,15,NaN,NaN,1,NaN
15,NaN,2023,NaN,X,2,Sacred Heart,16,NaN,NaN,1,NaN

['East' 'Midwest' 'West' 'W' 'X' 'Y' 'Z' 'South']

'Y'

,index,Year,Daynum,Region,RegionNum,Team,Seed,Team_Position,Mapped_Round,Round,GameSlot
2240,NaN,2023,NaN,Y,3,Indiana,1,NaN,NaN,1,NaN
2241,NaN,2023,NaN,Y,3,Utah,2,NaN,NaN,1,NaN
2242,NaN,2023,NaN,Y,3,LSU,3,NaN,NaN,1,NaN
2243,NaN,2023,NaN,Y,3,Villanova,4,NaN,NaN,1,NaN
2244,NaN,2023,NaN,Y,3,Washington St,5,NaN,NaN,1,NaN
2245,NaN,2023,NaN,Y,3,Michigan,6,NaN,NaN,1,NaN
2246,NaN,2023,NaN,Y,3,NC State,7,NaN,NaN,1,NaN
2247,NaN,2023,NaN,Y,3,Oklahoma St,8,NaN,NaN,1,NaN
2248,NaN,2023,NaN,Y,3,Miami FL,9,NaN,NaN,1,NaN
2249,NaN,2023,NaN,Y,3,Princeton,10,NaN,NaN,1,NaN
2250,NaN,2023,NaN,Y,3,UNLV,11,NaN,NaN,1,NaN
2251,NaN,2023,NaN,Y,3,FL Gulf Coast,12,NaN,NaN,1,NaN
2252,NaN,2023,NaN,Y,3,Cleveland St,13,NaN,NaN,1,NaN
2253,NaN,2023,NaN,Y,3,Hawaii,14,NaN,NaN,1,NaN
2254,NaN,2023,NaN,Y,3,Gardner Webb,15,NaN,NaN,1,NaN
2256,NaN,2023,NaN,Y,3,Tennessee Tech,16,NaN,NaN,1,NaN
2255,NaN,2023,NaN,Y,3,Monmouth NJ,16,NaN,NaN,1,NaN

'Y'

,index,Year,Daynum,Region,RegionNum,Team,Seed,Team_Position,Mapped_Round,Round,GameSlot
0,NaN,2023,NaN,Y,3,Indiana,1,NaN,NaN,1,NaN
1,NaN,2023,NaN,Y,3,Utah,2,NaN,NaN,1,NaN
2,NaN,2023,NaN,Y,3,LSU,3,NaN,NaN,1,NaN
3,NaN,2023,NaN,Y,3,Villanova,4,NaN,NaN,1,NaN
4,NaN,2023,NaN,Y,3,Washington St,5,NaN,NaN,1,NaN
5,NaN,2023,NaN,Y,3,Michigan,6,NaN,NaN,1,NaN
6,NaN,2023,NaN,Y,3,NC State,7,NaN,NaN,1,NaN
7,NaN,2023,NaN,Y,3,Oklahoma St,8,NaN,NaN,1,NaN
8,NaN,2023,NaN,Y,3,Miami FL,9,NaN,NaN,1,NaN
9,NaN,2023,NaN,Y,3,Princeton,10,NaN,NaN,1,NaN
10,NaN,2023,NaN,Y,3,UNLV,11,NaN,NaN,1,NaN
11,NaN,2023,NaN,Y,3,FL Gulf Coast,12,NaN,NaN,1,NaN
12,NaN,2023,NaN,Y,3,Cleveland St,13,NaN,NaN,1,NaN
13,NaN,2023,NaN,Y,3,Hawaii,14,NaN,NaN,1,NaN
14,NaN,2023,NaN,Y,3,Gardner Webb,15,NaN,NaN,1,NaN
15,NaN,2023,NaN,Y,3,Tennessee Tech,16,NaN,NaN,1,NaN

['East' 'Midwest' 'West' 'W' 'X' 'Y' 'Z' 'South']

'Z'

,index,Year,Daynum,Region,RegionNum,Team,Seed,Team_Position,Mapped_Round,Round,GameSlot
2257,NaN,2023,NaN,Z,4,Virginia Tech,1,NaN,NaN,1,NaN
2258,NaN,2023,NaN,Z,4,Connecticut,2,NaN,NaN,1,NaN
2259,NaN,2023,NaN,Z,4,Ohio St,3,NaN,NaN,1,NaN
2260,NaN,2023,NaN,Z,4,Tennessee,4,NaN,NaN,1,NaN
2261,NaN,2023,NaN,Z,4,Iowa St,5,NaN,NaN,1,NaN
2262,NaN,2023,NaN,Z,4,North Carolina,6,NaN,NaN,1,NaN
2263,NaN,2023,NaN,Z,4,Baylor,7,NaN,NaN,1,NaN
2264,NaN,2023,NaN,Z,4,USC,8,NaN,NaN,1,NaN
2265,NaN,2023,NaN,Z,4,S Dakota St,9,NaN,NaN,1,NaN
2266,NaN,2023,NaN,Z,4,Alabama,10,NaN,NaN,1,NaN
2268,NaN,2023,NaN,Z,4,St John's,11,NaN,NaN,1,NaN
2267,NaN,2023,NaN,Z,4,Purdue,11,NaN,NaN,1,NaN
2269,NaN,2023,NaN,Z,4,Toledo,12,NaN,NaN,1,NaN
2270,NaN,2023,NaN,Z,4,St Louis,13,NaN,NaN,1,NaN
2271,NaN,2023,NaN,Z,4,James Madison,14,NaN,NaN,1,NaN
2272,NaN,2023,NaN,Z,4,Vermont,15,NaN,NaN,1,NaN
2273,NaN,2023,NaN,Z,4,Chattanooga,16,NaN,NaN,1,NaN

'Z'

,index,Year,Daynum,Region,RegionNum,Team,Seed,Team_Position,Mapped_Round,Round,GameSlot
0,NaN,2023,NaN,Z,4,Virginia Tech,1,NaN,NaN,1,NaN
1,NaN,2023,NaN,Z,4,Connecticut,2,NaN,NaN,1,NaN
2,NaN,2023,NaN,Z,4,Ohio St,3,NaN,NaN,1,NaN
3,NaN,2023,NaN,Z,4,Tennessee,4,NaN,NaN,1,NaN
4,NaN,2023,NaN,Z,4,Iowa St,5,NaN,NaN,1,NaN
5,NaN,2023,NaN,Z,4,North Carolina,6,NaN,NaN,1,NaN
6,NaN,2023,NaN,Z,4,Baylor,7,NaN,NaN,1,NaN
7,NaN,2023,NaN,Z,4,USC,8,NaN,NaN,1,NaN
8,NaN,2023,NaN,Z,4,S Dakota St,9,NaN,NaN,1,NaN
9,NaN,2023,NaN,Z,4,Alabama,10,NaN,NaN,1,NaN
10,NaN,2023,NaN,Z,4,St John's,11,NaN,NaN,1,NaN
11,NaN,2023,NaN,Z,4,Toledo,12,NaN,NaN,1,NaN
12,NaN,2023,NaN,Z,4,St Louis,13,NaN,NaN,1,NaN
13,NaN,2023,NaN,Z,4,James Madison,14,NaN,NaN,1,NaN
14,NaN,2023,NaN,Z,4,Vermont,15,NaN,NaN,1,NaN
15,NaN,2023,NaN,Z,4,Chattanooga,16,NaN,NaN,1,NaN

In [72]:
import json
with open(r'\Users\sebas\IDrive-Sync\MetaLocalLLC\RL-Bots\Tournament-gym\bracketology_rl\data\Wbrackets_2023.json' , 'w') as f:
    json.dump(brackets_dict, f)

: